@page "/page-without-query-param"

<a href="?HomeQueryParameter=555">Go to home</a>
<a href="page?PageQueryParameter=1111">Go to page with query param</a>

<table>
    <tr>
        <th>Timestamp (ticks)</th>
        <th>Lifecycle event name</th>
    </tr>

    @foreach (var value in PageQueryParameterValues.OrderBy(x => x.Timestamp))
    {
        <tr>
            <td>@value.Timestamp.Ticks</td>
            <td>@value.EventName</td>
        </tr>
    }

</table>

@code {
    public List<(DateTimeOffset Timestamp, string EventName)> PageQueryParameterValues { get; } = new();

    protected override void OnParametersSet() => _Track();
    protected override void OnInitialized() => _Track();
    protected override void OnAfterRender(bool firstRender) => _Track();

    private void _Track([System.Runtime.CompilerServices.CallerMemberName] string? caller = null) =>
        PageQueryParameterValues.Add((DateTimeOffset.Now, caller!));
}