@page "/page"

<a href="?HomeQueryParameter=555">Go to home</a>
<a href="page-without-query-param">Go to page without query param</a>

<table>
    <tr>
        <th>Timestamp (ticks)</th>
        <th>Lifecycle event name</th>
        <th>Parameter value</th>
    </tr>

    @foreach (var value in PageQueryParameterValues.OrderBy(x => x.Timestamp))
    {
        <tr>
            <td>@value.Timestamp.Ticks</td>
            <td>@value.EventName</td>
            <td>@(value.ParameterValue.HasValue ? @value.ParameterValue.Value : "null")</td>
        </tr>
    }

</table>

@code {
    [SupplyParameterFromQuery]
    public int? PageQueryParameter { get; set; }

    public List<(DateTimeOffset Timestamp, string EventName, int? ParameterValue)> PageQueryParameterValues { get; } = new();

    protected override void OnParametersSet() => _Track();
    protected override void OnInitialized() => _Track();
    protected override void OnAfterRender(bool firstRender) => _Track();

    private void _Track([System.Runtime.CompilerServices.CallerMemberName] string? caller = null) =>
        PageQueryParameterValues.Add((DateTimeOffset.Now, caller!, PageQueryParameter));
}